<a href="https://colab.research.google.com/github/TomasKindahl/ANSI_Vt200_Python/blob/main/python_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

127.0.1

In [ ]:
print("Hello, World!")

Hello, World!

127.1.1

In [ ]:
A = 12
print(A)
print(type(A))

12
<class 'int'>

127.1.2

In [ ]:
B = 12
print(type(B))
type(A) == type(B)

<class 'int'>

True

127.1.3

In [ ]:
B = "abrakadabra"
print(type(B))
type(A) == type(B)

<class 'str'>

False

127.1.4

In [ ]:
print(True, False)    # Booleska värden (observera initial stor bokstav)
print(13903920129039023901923049204910129940590) # Python har långa heltal
print(1_592_65)       # Heltal med _ inlagt där det ser snyggt ut
print(3.141_592_65)   # Flyttal med _ inlagt där det ser snyggt ut
print("hex:", 0xFFEF) # Hexadecimalnotation
print(hex(65519))     # Skriv ut hexadecimalt genom att göra om till sträng!
print("okt", 0o723)   # Oktaltal
print(oct(467))       # Skriv ut oktalt genom att göra om till sträng!
print("bin", 0b1010)  # Binärtal
print(bin(467))       # Skriv ut binärt genom att göra om till sträng!

True False
13903920129039023901923049204910129940590
159265
3.14159265
hex: 65519
0xffef
okt 467
0o723
bin 10
0b111010011

127.1.5

In [ ]:
A = 3
print(A*3 + 4)
print(A % 2)
print(4 << 1)
print(2 << 7)
print(3**3)     # Exponent!

13
1
8
256
27

127.1.6

In [ ]:
print("Hello, World!")
print('Hej Sverige!')

Hello, World!
Hej Sverige!

127.1.7

In [ ]:
print('Han sade: "Simsalabim!"')
print("'Ord' översätts med 'sanat'")
print("Hon sade: \"Hokuspokus!\"")

Han sade: "Simsalabim!"
'Ord' översätts med 'sanat'
Hon sade: "Hokuspokus!"

127.1.8

In [ ]:
print("ha"*10)
print("ha"+"!")

hahahahahahahahahaha
ha!

127.1.9

In [ ]:
print(int("23"))
print(float("3.4"))
print(str(12.4))

23
3.4
12.4

127.2.1

In [ ]:
L = [1, 2, 3, 4, 5]   # Skapa lista
print(L)              # Skriv ut
print(type(L))        # Typ?
print(L[2])           # Indexering
L[2] = 66             # Tilldela index
print(L)              # Skriv ut igen
print(L[-1])          # Sista elementet med minus-index!
print("len", len(L))  # len = Längd

[1, 2, 3, 4, 5]
<class 'list'>
3
[1, 2, 66, 4, 5]
5
len 5

127.2.2

In [ ]:
S = "hokus"           # Skapa lista
print(S)              # Skriv ut
print(type(S))        # Typ?
print(S[2])           # Indexering
print(type(S[2]))     # Character-typ?
print(S[-1])          # Sista elementet med minus-index!
print("len", len(S))  # len = Längd

hokus
<class 'str'>
k
<class 'str'>
s
len 5

127.2.3

In [ ]:
WL = {'sol': 'sun', 'måne': 'moon', 'stjärna': 'star'} # "Ordlista"
print(WL)               # Skriv ut
print(type(WL))         # Typ?
print(WL['sol'])        # Indexering
print("len", len(WL))   # len = Längd
print(WL.items())       # Skapar en uppräkningstyp
print(list(WL.items())) # Gör om till lista

{'sol': 'sun', 'måne': 'moon', 'stjärna': 'star'}
<class 'dict'>
sun
len 3
dict_items([('sol', 'sun'), ('måne', 'moon'), ('stjärna', 'star')])
[('sol', 'sun'), ('måne', 'moon'), ('stjärna', 'star')]

127.2.4

In [ ]:
for i in L:
    print(i)
for c in S:
    print(c)
for key in WL:
    print(key)

1
2
66
4
5
h
o
k
u
s
sol
måne
stjärna

127.2.5

In [ ]:
for key in WL:
    print(key, WL[key])

sol sun
måne moon
stjärna star

127.2.6

In [ ]:
for key, value in WL.items():
    print(key, value)

sol sun
måne moon
stjärna star

127.2.7

In [ ]:
ett, två = 1, 2
print(ett, två)
ett, två = två, ett
print(ett, två)

1 2
2 1

127.3.1

In [ ]:
def plus(x, y):
    return x+y
print(plus(2, 3))

5

127.3.2

In [ ]:
def något():
    if 2 == 2:
        a = 33
    print(a)
något()

33

127.3.3

In [ ]:
def main():
    for i in range(10):
        print(i, i*i)
main()

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

127.3.4

In [ ]:
def main():
    for i in range(10):
        print(i, i*i)
if __name__ == '__main__':
    main()

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

127.3.5

In [ ]:
a = 12
if a == 12:
    print("tolv")
b = 33

if b == 34:
    print("trettiotre")
else:
    print("inte trettiotre")

tolv
inte trettiotre

127.3.6

In [ ]:
a = 1
if a == 1:
    print("ett")
elif a == 2:
    print("två")
elif a == 3:
    print("tre")
else:
    print("många")

ett

127.3.7

In [ ]:
sum = 0
for i in range(5):         # från 0 till och med 4
    sum += i
print(sum)

sum = 0
for i in range(1, 6):      # från 1 till och med 5
    sum += i
print(sum)

sum = 0
for i in range(1, 5, 2):   # från 0 till och med 4, steg 2
    sum += i
print(sum)

10
15
4

127.3.8

In [ ]:
sum = 0
for i in [1, 2, 66, 4, 5]:
    sum += i
print(sum)

78

127.4.1

In [62]:
import math
print(math.sqrt(2))

1.4142135623730951

127.4.2

In [63]:
import math as m
print(m.sqrt(2))

1.4142135623730951

127.4.3

In [64]:
from math import *
print(sqrt(2))

1.4142135623730951

127.4.4

In [65]:
from math import sqrt
print(sqrt(2))

1.4142135623730951

127.5.1

In [66]:
class Person():
    def __init__(self, persname, surname):
        self.persname = persname
        self.surname = surname
arne = Person('Arne', 'Svensson')
print(arne)

<__main__.Person object at 0x7cbe7cbe93d0>

127.5.2

In [67]:
class Person():
    def __init__(self, persname, surname):
        self.persname = persname
        self.surname = surname
    def __str__(self):
        return "<" + self.persname + " " + self.surname + ">"
arne = Person('Arne', 'Svensson')
print(arne)

<Arne Svensson>

127.5.3

In [ ]:
class Person():
    def __init__(self, persname, surname):
        self.persname = persname
        self.surname = surname
    def addPhone(self, phone):
        self.phone = phone
    def getPhone(self):
        return self.phone
arne = Person('Arne', 'Svensson')
arne.addPhone('070-1234567')
print(arne.getPhone())

127.5.4

In [68]:
arne.__dict__

{'persname': 'Arne', 'surname': 'Svensson'}